<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:100,300,500">
      <link rel="stylesheet" href="navebar.css">
      <link rel="stylesheet" href="user_space.css">
      <script src="script.js" defer></script>
      <title>Hi</title>
    </head>

    <body>
      <nav class="navbar">
        <div class="brand-title">Luna</div>
        <a href="/" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="#">Repository</a></li>
            <li><a href="#">Process</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </div>
      </nav>
        <div class="full-screen-container"></div>
        </div>
    </body>
</html>